/* Készítő: H.Tibor */

/*html{ -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }*/
style, script, .script { 
	display: none; 
}

div.pWaitTable {
	display:table;
	position:fixed;
	top:0;
	left:0px;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.8);
	z-index:999999;
}

div.pWaitRow {
	display:table-row;
}

div.pWaitCell {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	color:#FFF;
	font-size:32px;
}

div.pWaitCell span {
	display:inline-block;
	text-align:center;
	height:60px;
	width:300px;
	background-image:url('/images/wait.gif');
	background-repeat:no-repeat;
	background-position:bottom center;
	text-shadow:0px 0px 6px #000;
}

div.google_map {
	width:600px;
	height:400px;
	color:#333333;
	border:3px double #666666;
	border-radius:10px;
	overflow:hidden;
	margin:auto;
}

div.google_map div {
	color: #333333;
}

span.hsimg {
	background-position:50% 50%;
	display:block;
	width:165px;
	height:155px;
	background-repeat:no-repeat;
}

.gm-style { 
	min-width: 100% !important; 
}

.gm-style > div:first-child { 
	min-width: 100% !important; 
}

.mobile { 
	display: none;
}

html, body {
	width: 100%;
	height: 100%;
	min-height: 100%;
	font-family: candara;
	font-size: 16px;
	color: #777;
	line-height: normal;
	outline: 0px none;
	background-color: #fff;
	min-width: 1200px;
}

body { 
	overflow-x: hidden; 
	height: auto; 
	min-height: 100%; 
	max-width: 100%; 
	min-width: 1200px; 
	background-color: transparent; 
}
html.ajax, html.ajax body { 
	background: none; 
}

h1 {
	background-color: transparent;
	border-width: 0px;
	border-style: solid;
	border-radius: 0px;
	font-size: 28px;
	font-weight: 300;
	font-style: normal;
	line-height: 32px;
	margin-bottom: 15px;
	padding: 0px;
	text-align: center;
}

h2 {
	background-color: transparent;
	border-width: 0px;
	border-style: solid;
	border-radius: 0px;
	font-size: 21px;
	font-weight: 300;
	font-style: normal;
	line-height: 28px;
	margin-bottom: 10px;
	padding: 0px;
	text-align: center;
}

a {
	text-decoration: none;
	color: #01559B;
	cursor: pointer;
}
a:hover {
	color: #A00806;
	text-decoration: none;
}
.center { text-align: center; }
.clear { clear: both; }
.iconfont { font-family: iconfont; }
.white { color: white; }
.black { color: black; }

#header, #nav, #content, .content, #mainFoot, #footer {
	display: block;
	position: relative;
	width: 100%;
	margin: auto;
}
.content {
	max-width: 1200px;
	clear: both;
}

#SitePage {
	position: relative;
	left:0px;
	min-height: 100%;
}


/* Header */
#header {
	position: relative;
	font-size: 15px;
	display: block;
	margin: auto;
	margin-bottom: 0px;
	z-index: 8;
	pointer-events: none;
	background-color: #fff;
	height: 100px;
}

#header .content * { 
	pointer-events: all; 
}

#header .content {
	z-index: 2;
	height: 120px;
	background-color: #fff;
}

#header h1 {
	display: block;
	position: absolute;
	top: 80px;
	right: 0px;
	font-size: 18px;
	line-height: 25px;
	height: 25px;
	padding: 0px 5px;
	width: auto;
	margin: 0px;
	text-align: right;
	z-index: 3;
	overflow: hidden;
	color: #777;
	min-width: 200px;
}
.title {
	float: left;
	height: 50px !important;
	margin: 25px 10px;
}

.title h2{
	color: #000;
	margin: 0px;
	text-align: left;
	font-size: 26px;
}

.title p{
	color: #2bc7db;
	margin: 0px;
	text-align: left;
	font-size: 18px;
}

.phone{
	float: right;
	height: 50px !important;
	margin: 25px 10px;
}

.phone h2{	
	color: #2bc7db;
	margin: 0px;
	text-align: left;
	font-size: 26px;
}

.phone p{
	color: #000;
	margin: 0px;
	text-align: left;
	font-size: 18px;
}

.header_image{
	width: 100%;
}

/* Menü */
#nav {
	z-index: 999;
	position: relative;
	height: 50px;
	width: 100%;
	margin-bottom: 0px;
	text-align: left;
	background-color: #00bcd5;
}

#nav ul {
	display: inline-block;
	position: relative;
	margin: 0px;
	padding: 0px;
	list-style: none;
	z-index: 2;
	text-align: left;
	max-width: 1200px;
	height: 50px;
}

#nav > .content > ul > li > ul { 
	display: none;
	height: 50px;
}


#nav li:hover > ul, /* #nav li.aktive > ul, */ #nav > div > ul {
	display: block;
	z-index: 3;
}

#nav li {
	float: left;
	display: block;
	position: relative;
	padding: 0px;
	margin: 0px;
	margin-right: 10px;
	width: auto;
}

#nav a {
	display: block;
	position: relative;
	line-height: 45px;
	height: auto;
	text-align: left;
	padding: 0px 15px 0px 15px;
	margin: 0px 5px;
	font-size: 14pt;
	color: #fff;
	z-index: 3;
	transition: all 300ms ease-in-out;
	background-color: transparent;
}

#nav .menuInfo { display: none; }

#nav li:hover > a {
	color: #fff;
}
#nav li:hover,
#nav li.aktive  {  
	left: 0%;
	border-bottom: 5px solid #68d4e5;
}

/* Menü 2 */
.nav2 {
	z-index: 999;	
	width: 100%;
	margin-bottom: 0px;
	text-align: left;
	background-color: #FFF;
}
.nav2 .content { text-align: center; }

.nav2 ul {
	display: inline-block;
	position: relative;
	margin: 0px;
	padding: 0px;
	list-style: none;
	z-index: 2;
	text-align: left;
	max-width: 1200px;
}

.nav2 > .content > ul > li > ul { display: none; }

.nav2 li {
	display: block;
	position: relative;
	padding: 0px;
	margin: 0px;
	width: auto;
}

.nav2 a {    
	display: block;
    position: relative;
    line-height: 30px;
    height: auto;
    text-align: left;
    padding: 5px 15px 5px 15px;
    margin: 7px 5px;
    font-size: 12pt;
    color: #000;
    z-index: 3;
    transition: all 300ms ease-in-out;
    background-color: #e5e5e5;
    border-radius: 5px;
    min-width: 200px;
}

.nav2 a:hover,
.nav2 li.aktive > a{
	color: #2ac4d8;
}

.nav2 .menuInfo { display: none; }

#content {
	clear: both;
	display: block;
	position: relative;
	min-height: 870px;
}

/* Tartalom */
#main {
	padding: 0px;
	line-height: 1.2em;
	position: relative;
	z-index: 7;
	min-height: 300px;
}
#main .content {
	padding: 0px;
}

/* Lábléc */
#footer {
	display: block;
	position: relative;
	bottom: 0px;
	left: 0px;
	z-index: 999;
	width: 100%;
	text-align: center;
	font-size: 16px;
	background-color: #fff;
	color: #fff;
	margin-top: 25px;
}
#footer a { color: #fff; }
#footer .content { z-index: 9; position: relative; min-height: 120px; display: block; }
#footer div.copy { position: relative; top: 50px; padding: 0px; display: block; width: 100%; z-index: 9;text-align: center; }



#main > .content { vertical-align: top; }
#main > .content > .group > .row > .cell { padding: 0px; }
#main > .content > .group > .row > .cell > h1:first-child,
#main > .content > .group > .row > .cell > h2:first-child {
	display: none;
	position: relative;
	padding: 0px;
	line-height: 44px;
	font-size: 32px;
	font-weight: bold;
	font-weight: 100;
	margin: 0px 200px;
	margin-bottom: 5px;
	padding-top: 15px;
	padding-bottom: 5px;
	text-transform: uppercase;
	overflow: hidden;
	text-align: center;
	color: #777;
}

section.group, div.group { display: table; width: 100%; }
section.row, div.row { display: table-row; width: 100%; }
section.cell, div.cell { display: table-cell; vertical-align: top; }
#main > .content { background-color: #fff; }
#main > .content > .group { height: 300px; }

.szMenuItems {  }
.szMenuItem {  }
.szMenuItem > h2 { position: relative; display: block; z-index: 3; border-bottom: 1px solid #DDD; }
.szMenuText { padding-bottom: 20px; }
.szMenuBovebben { display: none; }


.highslide-html { overflow: visible !important; }
.highslide-html div { overflow: visible !important; }
.highslide-image { border-color: transparent; }
.highslide-maincontent { display: block; }
.highslide-container div { font-size: 14px; }
.draggable-header .highslide-heading { font-size: 17px; }
.highslide-wrapper, .highslide-outline { background-color: transparent; }
.floating-caption .highslide-caption { padding: 5px; text-align: center; width: 100%; background-color: rgba(225,221,222,0.2); border: 1px solid #999; margin: 0px; margin-top: 5px; border-radius: 10px; }
.highslide-html { background-color: #333333; background-color: rgba(50,50,50,0.8); border: 1px solid #111111; border-radius: 10px; }
.text-controls .highslide-controls { z-index: 9999; }
.text-controls li.highslide-play { display: none; }
.text-controls li.highslide-full-expand { display: none; }
.highslide-container table { display: none; }
.highslide-container  .highslide-body table { display: table; }
.szall-info-icon { display: inline-block; vertical-align: middle; height: 32px; width: 32px; border: 0px solid transparent; }
div.hasabok { width: auto; }

span.inputError {
	display: inlin-block;
	position: absolute;
	background: #eb2929;
	background: -moz-linear-gradient(top, #eb2929 0%, #c61818 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eb2929), color-stop(100%, #c61818));
	background: -webkit-linear-gradient(top, #eb2929 0%, #c61818 100%);
	background: -o-linear-gradient(top, #eb2929 0%, #c61818 100%);
	background: -ms-linear-gradient(top, #eb2929 0%, #c61818 100%);
	background: linear-gradient(to bottom, #eb2929 0%, #c61818 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb2929', endColorstr='#c61818',GradientType=0 );
	box-shadow: 0px 0px 3px rgba(150,0,0,0.33);
	width: 250px;
	padding: 2px 3px;
	margin: 5px 10px;
	opacity: 0;
	border-radius: 3px;
	color: #FFF;
	text-align: center;
	line-height: 18px;
	z-index: 1;
}

span.inputError:before {
	content: "\25C0";
	color: #D72020;
	font-size: 10px;
	position: absolute;
	top:2px;
	left:-7px;
	text-shadow: -1px 0px 3px rgba(150,0,0,0.33);
}


div.gal_fokep, div.gal_kep { 
	margin: 6px; 
	transition:all 300ms ease-in-out; 
}
