* {
	margin: 0px;
	}
body {
	background: url(bg.jpg) top left no-repeat black;
	}

#container {
	min-width: 1000px;
	max-width: 1024px;
	}

#header, #menu {
	float: left;
	}

#menu {
	margin: 50px 0px 0px 0px;
	}

#content {
	width: 960px;
	clear: both;
	margin: 0px auto;
	}

#c_top {
	background: url(ctbg.png) top left no-repeat;
	padding: 20px 0px 0px 50px;
	margin: 10px 0px 0px 0px;
	height: 80px;
	font-family: verdana;
	font-size: 40px;
	letter-spacing: 2px;
	}

#c_content {
	background: url(content.png);
	padding: 0px 50px;
	font-family: garamond, times, serif;
	font-size: 16px;
	}

#c_content p {
	padding: 0px 0px 15px 0px;
	text-align: justify;
	}

#c_bottom {
	background: url(cbbg.png) top left no-repeat;
	height: 100px;
	}

.jobb {
	float: right;
	padding: 0px 0px 10px 50px;
	width: 320px;
	}

.bal {
	float: left;
	padding: 0px 50px 10px 0px;
	}

#footer {
	text-align: center;
	color: #B7B7B7;
	padding: 40px 0px;
	}

#almenu li {
	display: inline;
	}

#almenu li ul li {
	display: none;
	}